@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
    font-family: "Rubik";
}

.container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.panel-group {
    margin-left: 30px;
    margin-right: 30px;
}

.lecturer_contact {
    margin-top: 100px;
}

.carousel {
    border-radius: 2px ;
    overflow: hidden;
}

.carousel-indicators {
    bottom: 1px;
}
